body {
  margin : 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  color: #66BFBF;
  font-size: 3.9rem;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}
.bio {
  font-size: 2.1rem;
  color: #66BFBF;
}
h3 {
  font-size: 1.5rem;
  color: #11999E;
}
h2 {
  color: #11999E;
}
a {
  color: #11999E;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #F98404;
}
div {
  position: relative;
  background-color: #caf7e3;
  padding-top: 100px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 100px;
  width: 200px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
  width: 200px;
}
.me {
  width: 300px;
}
.bottom-container {
  margin: 0 0 0 0;
  background-color: #66BFBF;
}
.end {
  color: #EAF6F6;
  margin-bottom: 0;
}
hr {
  border: dotted #11999E 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Merriweather', serif;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 30px;
}

.btn:hover {
   border: solid #005EFF 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
